
/* .button {
  align-items: center;  
  background-color: #7955bc;
  border-radius: 5ch;
}


.button:hover{
  border-radius: 5ch;
  border-color: rgb(46, 3, 87);
  transform:scale(1.05);
} */


button {
  font-size: 18px;
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  will-change: box-shadow,transform;
  background: radial-gradient( 100% 100% at 100% 0%, #89E5FF 0%, #5468FF 100% );
  box-shadow: 0px 0.01em 0.01em rgb(45 35 66 / 40%), 0px 0.3em 0.7em -0.01em rgb(45 35 66 / 30%), inset 0px -0.01em 0px rgb(58 65 111 / 50%);
  padding: 0 2em;
  border-radius: 0.3em;
  color: #fff;
  height: 2.6em;
  text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
  transition: box-shadow 0.15s ease, transform 0.15s ease;
 }
 
 button:hover {
  box-shadow: 0px 0.1em 0.2em rgb(45 35 66 / 40%), 0px 0.4em 0.7em -0.1em rgb(45 35 66 / 30%), inset 0px -0.1em 0px #3c4fe0;
  transform: translateY(-0.1em);
 }
 
 button:active {
  box-shadow: inset 0px 0.1em 0.6em #3c4fe0;
  transform: translateY(0em);
 }

.hero-section-image {
  /* width: 100%; */
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.img-style {
  /* width: 100%;
  height: auto; */
  width: 850px;
  height: 600px;
  margin-left: 500px;
}
 /* this for the center the text */
.parent {
  display: flex;
  align-items: center; /* center items vertically */
  justify-content: center; /* center items horizontally */
}
  body {
  
    background-image: url('../../public/body.jpg');
    /* background-image: url('../../public/BodyBg.svg'); */
    color: rgb(0, 0, 0);
    padding: 40px;
    font-family: 'Arvo', serif;
    font-family: 'Mukta', sans-serif;
   
      /* overflow-x: hidden; */
    
      /* display: table-cell;
      vertical-align: middle; */
    height:100%;
    width: 100%;
      
      justify-content:center;
      
  
    
  }



  .body{
    background-image: url('../../public/body.jpg');
    background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* height: 100vh; */
  margin: 0;

  }
  .space{
    display: inline-block;
  }

  .centerIt{
    text-align: center;
  }

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
  }
  .centerTable{
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
  }
  /* //card Stylling  */

  .cardStyle {
    width: 350px;
    height: 450px;
    background: rgb(223, 225, 235);
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
   }

/* //Form stylling  */


.formLogin {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: white;
  padding: 2.5em;
  border-radius: 25px;
  transition: .4s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.4) 1px 2px 2px;
}

.formLogin:hover {
  transform: translateX(-0.5em) translateY(-0.5em);
  border: 1px solid #171717;
  box-shadow: 10px 10px 0px #666666;
}

.heading {
  color: black;
  padding-bottom: 2em;
  text-align: center;
  font-weight: bold;
}

.inputLogin{
  border-radius: 5px;
  border: 1px solid whitesmoke;
  background-color: whitesmoke;
  outline: none;
  padding: 0.7em;
  transition: .4s ease-in-out;
}

.inputLogin:hover {
  box-shadow: 6px 6px 0px #969696,
             -3px -3px 10px #ffffff;
}

.inputLogin:focus {
  background: #ffffff;
  box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
}

.formLogin .btnLogin {
  margin-top: 2em;
  align-self: center;
  padding: 0.7em;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 10px;
  border: none;
  color: black;
  transition: .4s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 1px;
}

.formLogin .btnLogin:hover {
  box-shadow: 6px 6px 0px #969696,
             -3px -3px 10px #ffffff;
  transform: translateX(-0.5em) translateY(-0.5em);
}

.formLogin .btnLogin:active {
  transition: .2s;
  transform: translateX(0em) translateY(0em);
  box-shadow: none;
}





  table {
    border-spacing: 20px;
    text-align: center;
    
  }
  td {
   
    padding: 10px;
   
  }
  .slideStyles {
    width: "100%";
    height :"auto";
    border-radius: "10px";
    background-size: "cover";
    background-position: "center";
  };
  

  h1{
    text-align: center;
  }
  .fontFamily{
    font-family: 'Mukta', sans-serif;
  }

  .col-container {
    display: table; 
    width: 100%; 
  }
  
  .col {
    display: table-cell; 
  }
  .bg1{
    background-color: #a490ca;
  }
  .bg2{
    background-color: #7657b1;
  }


  .nav { 
    display: inline-block;
  }
 
  .imageCenter{
    display: grid;
    place-items: center;
    margin-right: 500px;
  }

  .footer{
    left:0; 
    bottom:0; 
    width:100vw;
  }

/* .styleH1 {
    font-size: 36px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    text-shadow: 2px 2px #ccc;
    letter-spacing: 2px;
    line-height: 1.2;
    background: linear-gradient(to right, #7637c2,#bb86fc); */
    /* -webkit-background-clip: */
/* }  */

h2 {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Merriweather', serif;
}

.formStyle{
  background-image: url('../../public/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  
}

/* //styling for doctor Page  */

.NewFeed {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.doctors-list {
  display: flex;
  flex-wrap: wrap;
}

.doctor-card {
  width: 30%;
  margin: 0 1.5%;
  background-color: rgba(0, 0, 0, 0.5);
}

.newFeedStyle{
  background-image: url('../../public/background.jpg');
  background-size: cover;
  background-position: center;
}

.centerCard{
  
  display: flex;
  align-items: center;
  justify-content: center 
}

/* this style is being applied for the Grid page */
.cardGridDark {
  width: 190px;
  height: 254px;
  border-radius: 30px;
  background: #7657b1;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 50px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 26px -18px inset;
 }

 .cardGridLight {
  width: 190px;
  height: 254px;
  border-radius: 30px;
  background: #a490ca;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 50px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 26px -18px inset;
 }
hr {
  width: 80%; /* set the width of the hr tag */
  height: 4px;
  margin: 10px auto; /* center the hr tag horizontally */
  background: linear-gradient(to right, #cbc1c1, #fff);
  border: none;
}
.outer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box {
  width: 200px;
  height: 400px;
  margin: 10px;
  /* background-color: #7657b1; */
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.5s ease-in-out;
}

.box:hover {
  transform: scale(1.07);
  cursor: pointer;
}


/* //css added for the News&EVent Page */

.news-events {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

.section {
  

    width: 300px;
  
    height: 400px;
  
    margin: 20px;
  
    background-image: url('../../public/background.jpg');
  
    border-radius: 10px;
  
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  
    display: flex;
  
    flex-direction: column;
  
    align-items: center;
  
    justify-content: center;
  
    text-align: center;
  
  
  /* background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  margin: 0; */
}

.section h2 {
  font-size: 24px;
  margin-top: 20px;
}

.section ul {
  list-style-type: none;
  margin-top: 20px;
  padding: 0;
}

.section li {
  font-size: 18px;
  margin: 10px 0;
}

.link {
  color: black;
  text-decoration: none;
}

.link-hover {
  color: blue;
  text-decoration: underline;
}


/* 
//css for the contact page */

.card-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* //for the service boxes */

.outerService{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.boxService {
  width: 200px;
  height: 220px;
  margin: 10px;
  background-color: #7657b1;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.5s ease-in-out;
}

.boxService:hover {
  transform: scale(1.07);
  cursor: pointer;
}


/* //background for the address page  */
.addBg{
  
  background-image: linear-gradient(to top, #5f72bd 0%, #9b23ea 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* height: 100vh;
  width: 300vh; */
  margin: 0vh 0vh;
}

.container-fluid {
  width: 100% !important;
  padding-right: 15px !important;
  padding-left: 15px !important;
  margin-right: auto !important;
  margin-left: auto !important;
}


/* prevent :horizontal scroll */
/* body{
  overflow-x: hidden;
} */